{% extends "ads/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<section class="mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <!-- Page Heading -->
        <h2 class="display-5 mb-4 text-center">Advertise with Us</h2>
        <p class="lead text-center mb-5">Fill out the form below to advertise with us.</p>

        <!-- Form -->
        <form action="{% url 'ads:ad_create' %}" method="post" class="needs-validation" id="ad-form" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="p-4 rounded shadow-sm mb-5">
            {% include "ads/ad_form.html" %}
          </fieldset>

          <!-- Form Buttons -->
          <div class="form-buttons gap-2">
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-paper-plane"></i> Submit
            </button>
            <button type="reset" class="btn btn-outline-secondary">
              <i class="fas fa-undo"></i> Reset
            </button>
            <button type="button" class="btn btn-outline-danger" onclick="window.location.href='{% url 'ads:home' %}'">
              <i class="fas fa-times"></i> Cancel
            </button>
          </div>
        </form>
        <script>
        document.getElementById("ad-form").addEventListener("submit", function() {
        console.log('Checking file size');
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            var file = document.getElementById('id_{{ form.picture_field_name }}').files[0];
            if (file && file.size > {{ form.max_upload_limit }} ) {
                alert("File " + file.name + " of type " + file.type + " must be < {{ form.max_upload_limit_text }}");
                return false;
              }
            }
          });
        </script>
      </div>
    </div>
  </div>
</section>
{% endblock %}