{% extends "ads/base.html" %}

{% block content %}
<section>
  <div class="container">
    <h2>{{ ad.title }}</h2>
    <p>Created at: {{ ad.created_at }}</p>
    <p>Updated at: {{ ad.updated_at }}</p>
    <p>By: {{ ad.owner.username }}</p>
    <p>Price: {{ ad.price }}</p>
    <p>Description: {{ ad.text }}</p>
    {% if user == ad.owner %}
      <a href="{% url 'ads:ad_update' pk=ad.id %}">Edit</a>
      <a href="{% url 'ads:ad_delete' pk=ad.id %}">Delete</a>
    {% endif %}
    <a href="{% url 'ads:home' %}">Back to ads</a>
  </div>
</section>
{% endblock %}