{% extends "base.html" %}
{% load static %}

{% block head_title %}Ads{% endblock head_title %}
{% block app_name %}Ads{% endblock app_name %}
{% block app_url %}{% url 'ads:home' %}{% endblock app_url %}


{% block extra_head %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/ads.css' %}" type="text/css"/>
{% endblock extra_head %}
