<div class="search-bar">
  <form class="search-form" id="search-form" action="{% url 'ads:home' %}" method="get">
    <input class="search-text" type="search" name="q" placeholder="Search Ads..." aria-label="Search" {% if request.GET.q %} value="{{ request.GET.q }}" {% endif %}>
    <button class="search-btn" type="submit"><i class="search-icon fas fa-search"></i></button>
    <a class="search-btn" href="{% url 'ads:home' %}" title="Reset Search"><i class="fas fa-refresh"></i></a>
  </form>
</div>
