{% extends "base.html" %}
{% load static %}

{% block custom_styles %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css" />
{% endblock %}

{% block content %}
<div class="projects-container">
    <h1 class="projects-title">My Django Applications</h1>

    <ul class="list-group project-list">
        <li class="list-group-item project-item">
            <a href="/polls" class="project-link text-decoration-none">
                <span>Polls+</span>
            </a>
        </li>
        <li class="list-group-item project-item">
            <a href="/hello" class="project-link text-decoration-none">
                <span>Reloadinator</span>
            </a>
        </li>
        <li class="list-group-item project-item">
            <a href="/autos" class="project-link text-decoration-none">
                <span>Autos</span>
            </a>
        </li>
        <li class="list-group-item project-item">
            <a href="/cats" class="project-link text-decoration-none">
                <span>Cats</span>
            </a>
        </li>
        <li class="list-group-item project-item">
            <a href="/ads" class="project-link text-decoration-none">
                <span>Ads</span>
            </a>
        </li>
        <li class="list-group-item project-item">
            <a href="/shrt" class="project-link text-decoration-none">
                <span>Short URL</span>
            </a>
        </li>
    </ul>

    <div class="tech-footer text-center">
        <p class="tech-stack mb-0">
            Built with
            <i class="fab fa-python"></i>Django
            <i class="fab fa-bootstrap"></i>Bootstrap
            <i class="fas fa-code"></i>PyCharm
        </p>
    </div>
</div>
{% endblock %}