<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Polls+ | Details | {{ poll.question_text }} </title>
</head>
<body>
<section>
  <h1>Poll Details</h1>
</section>
<section>
  <form action="{% url 'polls:poll_vote' poll_id=poll.id %}" method="POST">
    {% csrf_token %}
    <fieldset>
      <legend><h1>{{ poll.question_text }}</h1></legend>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      <div>
        {% for choice in poll.choices.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        <br>
      </div>
      {% endfor %}
    </fieldset>
    <div>
      {% if poll.is_closed_for_voting %}
      <input type="submit" value="Poll closed" disabled>
      {% elif voted is true %}
      <input type="submit" value="Vote">
      {% else %}
      <input type="submit" value="Vote again?">
      {% endif %}
      <input type="reset" value="Clear">
    </div>
  </form>
  <a href="{% url 'polls:poll_result' poll_id=poll.id %}">Results</a>
</section>
</body>
</html>