{% extends "allauth/layouts/base.html" %}

{% load crispy_forms_tags %}

{% spaceless %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Reset Password</h2>
      <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

      <form class="password_reset" method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-primary" value="Reset My Password">
      </form>
    </div>
  </div>
</div>
{% endblock content %}


{% endspaceless %}