{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="dj4e" content="c3d67032530cee152ef2af02a4afd571">
  <meta name="dj4e-code" content="42173029139562">
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">
  <link rel="icon" type="image/png"
        href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml"
        href="{% static 'favicon/favicon.svg' %}" />
  <link rel="shortcut icon"
        href="{% static 'favicon/favicon.ico' %}" />
  <link rel="apple-touch-icon" sizes="180x180"
        href="{% static 'favicon/apple-touch-icon.png' %}" />
  <link rel="manifest"
        href="{% static 'favicon/site.webmanifest' %}" />
  <title>{% block title %}Home{% endblock %} | Django Projects</title>
  {% block custom_styles %}
  {% endblock %}
</head>
<body>
<nav>
  {% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Django Projects</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% block app_url %}{% endblock %}">{% block app_name %}{% endblock %}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img style="width: 25px;" src="{{ user|gravatar:60 }}"/>
            <b class="caret">{{ user.username }}</b>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
              <form action="{% url 'logout' %}?next={{ request.get_full_path }}" method="post">
                <button type="submit" class="dropdown-item">Logout</button>
                {% csrf_token %}
              </form>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}?next={{ request.get_full_path }}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock %}
</nav>
<aside>
  {% block sidebar %}
  {% endblock %}
</aside>
<div>
  {% block breadcrumbs %}
  {% endblock %}
</div>
<div>
  {% block messages %}
  {% if messages %}
  {% for msg in messages %}
  <div class="alert alert-{{msg.level_tag}}" role="alert">
    {{msg.message}}
  </div>
  {% endfor %}
  {% endif %}
  {% endblock %}
</div>
<section>
  {% block content %}
  {% endblock %}
</section>
<footer>
  {% block footer %}
  {% endblock %}
</footer>
</body>
</html>